.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    height: 80px; 
}


.logo-navbar {
    display: flex; 
    align-items: center; 
    height: 100%; 
}

.img-logo-navbar {
    height: 50px;
    cursor: pointer;
}


.list-navbar {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    color: #ae0703;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

.element-list-navbar {
    margin: 0 20px; 
    cursor: pointer;
}
