.title-collaboration {
    font-family: Helvetica, sans-serif;
    color: #ae0703;
    font-size: 20px;
    padding-left: 30px;
    margin: 10px;
}

.collaboration-skills {
    display: flex;
    flex-direction: row;
    background-color: #fdf6df;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap; 
}

.collaboration-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.logo-collaboration-skill {
    height: 45px;
    width: 45px;
    padding-top: 20px;
}

.title-collaboration-skill {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    margin-bottom: 20px;
}

@media (max-width: 920px) {
    .collaboration-element {
        width: 30%; 
    }
}